/**
 * COLOR PALETTE - FROM LOGO
 **/
/* LIGHT BLUE: #37c3ff */
/* BLUE: #0eb0f5 */

/**
 * COLOR PALETTE - SAMS EXTENDED PALETTE
 **/
/* DARK BLUE: #1782C0 */
/* DARK GREY: #5E6E6E */
/* DARK RED: #804E58 */

/* Define custom colors in the :root selector */
:root {
  --light-blue: #37c3ff;
  --blue: #0eb0f5;
  --dark-blue: #1782c0;
  --dark-grey: #5e6e6e;
  --dark-red: #804e58;
}

/* USAGE EXAMPLE */
/* background-color: var(--light-blue); */

body {
  margin: 0;
  font-family: "Open Sans", "Helvetica Neue", Arial, sans-serif;
  line-height: 1.5;
  background-color: var(--dark-blue);
}
svg {
  width: 64px;
  height: 64px;
  flex-shrink: 0;
}

.problem-statement {
  min-width: 100px;
  max-width: 220px;
  /* background-color: red; */
}

.section {
  padding: 64px 64px;
  border-bottom-width: 1.5px;
  border-bottom-color: var(--dark-grey);
  border-bottom-style: solid;
  /* border-bottom-left-radius: 10px; */
  /* border-bottom-right-radius: 10px; */
}

.aboutus-paragraph {
  padding-bottom: 16px;
  padding-left: 16px;
}

.aboutus-employee-box {
  display: flex;
  flex-direction: column;
  /* min-width: fit-content;
  max-width: 200px; */
  width: 200px;
}

.container {
  /*default - tiny mobile view. mobile first design*/
  width: 100%;
  background-color: white;

  /*sm (640px)	min-width: 640px;*/
  @media (min-width: 640px) {
    /* CSS that should be displayed if width is equal to or greater than 640px goes here */
    /* max-width: 640px; */
  }

  /*md (768px)	min-width: 768px;*/
  @media (min-width: 768px) {
    /* CSS that should be displayed if width is equal to or greater than 768px goes here */
    /* max-width: 768px; */
  }

  /*lg (1024px)	min-width: 1024px;*/
  @media (min-width: 1024px) {
    /* CSS that should be displayed if width is equal to or greater than 1024px goes here */
    max-width: 1024px;
  }

  /*xl (1280px)	min-width: 1280px;*/
  @media (min-width: 1280px) {
    /* CSS that should be displayed if width is equal to or greater than 1280px goes here */
    max-width: 1280px;
  }

  /*2xl (1536px)	min-width: 1536px;*/
  @media (min-width: 1536px) {
    /* CSS that should be displayed if width is equal to or greater than 1536px goes here */
    max-width: 1536px;
  }

  margin-left: auto;
  margin-right: auto;
}

.aboutus-employee-section {
  flex-direction: column;

  /*lg (1024px)	min-width: 1024px;*/
  @media (min-width: 1024px) {
    /* CSS that should be displayed if width is equal to or greater than 1024px goes here */
    flex-direction: row;
  }
}

/* Define link colors */
a {
  /* text-decoration: none; Remove underline */
}

a:link {
  color: var(--dark-blue); /* Normal link color */
}

a:visited {
  color: var(--dark-blue); /* Visited link color */
}

a:hover {
  color: var(--light-blue); /* Hover link color */
  text-decoration: underline; /* Add underline on hover */
}

a:active {
  color: var(--blue); /* Active link color */
}

.email-button {
  border-style: none;
  cursor: pointer;
  padding: 0px;
}

.font-dark-blue {
  color: var(--dark-blue);
}

.font-dark-red {
  color: var(--dark-red);
}

.grayscale {
  display: block;
  width: 100%;
  height: auto;
  filter: grayscale(100%) sepia(0%) hue-rotate(170deg);
  position: relative;
  z-index: 1;
  transition: filter 0.3s ease;
}

.grayscale:hover {
  filter: grayscale(0%) sepia(100%) hue-rotate(170deg);
}
