/**
 * COLOR PALETTE - FROM LOGO
 **/
/* LIGHT BLUE: #37c3ff */
/* BLUE: #0eb0f5 */

/**
 * COLOR PALETTE - SAMS EXTENDED PALETTE
 **/
/* DARK BLUE: #1782C0 */
/* DARK GREY: #5E6E6E */
/* DARK RED: #804E58 */

/* Define custom colors in the :root selector */
:root {
  --ultraultralight-blue: #d4f4ff;
  --ultralight-blue: #a6e4ff;
  --lightest-blue: #6ed2ff;
  --light-blue: #37c3ff;
  --blue: #0eb0f5;
  --dark-blue: #1782c0;
  --darkest-blue: #005a8d;
  --dark-grey: #5e6e6e;
  --ultralight-red: #f9d7df;
  --extra-light-red: #f4cbd5;
  --lightest-red: #efbbc6;
  --light-red: #eb6f89;
  --red: #e14767;
  --dark-red: #b3344e;
  --darkest-red: #804e58;
}

.bg-color-lightest-blue {
  background-color: var(--lightest-blue);
}
.bg-color-light-blue {
  background-color: var(--light-blue);
}
.bg-color-blue {
  background-color: var(--blue);
}
.bg-color-dark-blue {
  background-color: var(--dark-blue);
}
.bg-color-darkest-blue {
  background-color: var(--darkest-blue);
}
.bg-color-dark-grey {
  background-color: var(--dark-grey);
}
.bg-color-lightest-red {
  background-color: var(--lightest-red);
}
.bg-color-light-red {
  background-color: var(--light-red);
}
.bg-color-red {
  background-color: var(--red);
}
.bg-color-dark-red {
  background-color: var(--dark-red);
}
.bg-color-darkest-red {
  background-color: var(--darkest-red);
}
.bg-color-ultralight-blue {
  background-color: var(--ultralight-blue);
}
.bg-color-ultraultralight-blue {
  background-color: var(--ultraultralight-blue);
}
.bg-color-ultralight-red {
  background-color: var(--ultralight-red);
}
.bg-color-extra-light-red {
  background-color: var(--extra-light-red);
}

/* USAGE EXAMPLE */
/* background-color: var(--light-blue); */

.email-button {
  color: white;
  background-color: var(--dark-red);
  padding: 8px 16px;
  border-radius: 48px;
  border-style: none;
  cursor: pointer;
  width: max-content;
}

.email-button-a {
  text-decoration: none;
  flex-basis: 100%;
  margin: auto;
  display: flex;
  justify-content: center;
}

/*sm (640px) */
@media (min-width: 640px) {
  .email-button-a {
    flex-basis: initial;
    margin: initial;
    display: initial;
    justify-content: initial;
  }
}

body {
  margin: 0;
  font-family: "Open Sans", "Helvetica Neue", Arial, sans-serif;
  line-height: 1.5;
  background-color: var(--dark-blue);
}
svg {
  width: 64px;
  height: 64px;
  flex-shrink: 0;
}

.chaos-order-container {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-around;
  gap: 24px;
}
/*md (768px) */
@media (min-width: 768px) {
  .chaos-order-container {
    flex-wrap: nowrap;
    gap: 12px;
  }
}
/*lg (1024px) */
@media (min-width: 1024px) {
  .chaos-order-container {
    gap: 32px;
  }
}
/*xl (1280px) */
@media (min-width: 1280px) {
  .chaos-order-container {
    gap: 64px;
  }
}

.chaos-order-text {
  font-size: small;
  text-wrap: balance;
  text-align: center;
}
/*lg (1024px) */
@media (min-width: 1024px) {
  .chaos-order-text {
    font-size: medium;
  }
}

.title-pt1 {
  /* font-size: 18px; */
  font-size: clamp(20px, 3vw, 40px); /* minimum, preferred, and maximum sizes */
  text-align: center;
  font-weight: bolder;
}
/*md (768px) */
@media (min-width: 768px) {
  .title-pt1 {
    font-size: 30px;
  }
}

.title-pt2 {
  /* font-size: 26px; */
  font-size: clamp(30px, 5vw, 48px); /* minimum, preferred, and maximum sizes */
  text-align: center;
  font-weight: bolder;
  margin-bottom: 16px;
}
/*md (768px) */
@media (min-width: 768px) {
  .title-pt2 {
    font-size: 48px;
  }
}

.line-break {
  display: block;
}

/*xl (1280px) */
@media (min-width: 1280px) {
  .line-break {
    display: none;
  }
}

.problem-statement {
  min-width: 100px;
}
/*md (768px) */
@media (min-width: 768px) {
  .problem-statement {
    max-width: 220px;
  }
}

.section {
  padding: 24px 12px;
  border-bottom-width: 1.5px;
  border-bottom-color: var(--dark-grey);
  border-bottom-style: solid;
}
/*md (768px) through lg */
@media (min-width: 768px) {
  .section {
    padding: 40px 12px;
  }
}
/*lg (1024px) */
@media (min-width: 1024px) {
  .section {
    padding: 40px 32px;
  }
}
/*xl (1280px) */
@media (min-width: 1280px) {
  .section {
    padding: 64px 64px;
  }
}

/* Define link colors */
a {
  /* text-decoration: none; Remove underline */
}

a:link {
  color: var(--dark-blue); /* Normal link color */
}

a:visited {
  color: var(--dark-blue); /* Visited link color */
}

a:hover {
  color: var(--light-blue); /* Hover link color */
  text-decoration: underline; /* Add underline on hover */
}

a:active {
  color: var(--blue); /* Active link color */
}

.navbar {
  position: sticky;
  top: 0;
  background-color: white;
  z-index: 1000; /* Ensure it stays on top of other elements */
  width: 100%;
  box-sizing: border-box;
}

.navbar-logo {
  max-width: 100%;
}
/*md (768px) */
@media (min-width: 768px) {
  .navbar-logo {
    max-width: 400px;
  }
}

.navbar-links {
  display: flex;
  align-items: center;
  font-size: large;
  text-wrap: nowrap;
  flex-wrap: wrap;

  gap: 16px;
  width: 100%;
  justify-content: space-between;
}

/*lg (1024px) */
@media (min-width: 1024px) {
  .navbar-links {
    gap: 40px;
    width: initial;
    justify-content: initial;
  }
}

a.navbar-active-link {
  color: var(--light-blue); /* Hover link color */
  text-decoration: none; /* Add underline on hover */
}

.container {
  /*default - tiny mobile view. mobile first design*/
  width: 100%;
  background-color: white;
  margin-left: auto;
  margin-right: auto;
}

/*sm (640px) */
@media (min-width: 640px) and (max-width: 767px) {
  .container {
    max-width: 640px;
  }
}

/*md (768px) */
@media (min-width: 768px) and (max-width: 1023px) {
  .container {
    max-width: 768px;
  }
}

/*lg (1024px) */
@media (min-width: 1024px) and (max-width: 1279px) {
  .container {
    max-width: 1024px;
  }
}

/*xl (1280px) */
@media (min-width: 1280px) and (max-width: 1535px) {
  .container {
    max-width: 1280px;
  }
}

/*2xl (1536px) */
@media (min-width: 1536px) {
  .container {
    max-width: 1536px;
  }
}

.font-dark-blue {
  color: var(--dark-blue);
}

.font-blue-gradient {
  color: transparent; /* Make text transparent */
  background: linear-gradient(
    135deg,
    var(--lightest-blue),
    var(--darkest-blue)
  ); /* Define gradient colors */
  -webkit-background-clip: text; /* Apply gradient to text only */
  background-clip: text; /* Apply gradient to text only */
}

.font-dark-red {
  color: var(--dark-red);
}

.aboutus-paragraph {
  padding-bottom: 16px;
  padding-left: 16px;
}

.aboutus-paragraphtest3 {
  padding-left: 16px;
}

.aboutus-paragraphcardcontainertest3 {
  display: flex;
  flex-direction: column;
  gap: 16px;
  flex-wrap: wrap;
  justify-content: center;
}
@media (min-width: 1024px) {
  /* CSS that should be displayed if width is equal to or greater than 1024px goes here */
  .aboutus-paragraphcardcontainertest3 {
    flex-direction: row;
  }
}

.aboutus-paragraphcardtest3 {
  border-radius: 8px;
  padding: 16px;
  box-shadow: 0px 4px 16px rgba(0, 0, 0, 0.6);
}
@media (min-width: 1024px) and (max-width: 1279px) {
  .aboutus-paragraphcardtest3 {
    /* CSS that should be displayed if width is equal to or greater than 1024px goes here */
    width: 25%;
  }
}
/*xl (1280px) */
@media (min-width: 1280px) {
  .aboutus-paragraphcardtest3 {
    max-width: 16%;
  }
}

.aboutus-employee-box {
  display: flex;
  flex-direction: column;
  width: 200px;
}

.aboutus-employee-section {
  flex-direction: column;

  /*lg (1024px)	min-width: 1024px;*/
  @media (min-width: 1024px) {
    /* CSS that should be displayed if width is equal to or greater than 1024px goes here */
    flex-direction: row;
  }
}

.aboutus-employee-sectiontest3 {
  /*lg (1024px)	min-width: 1024px;*/
  @media (min-width: 1024px) {
    /* CSS that should be displayed if width is equal to or greater than 1024px goes here */
    max-width: 100%;
  }
}

.grayscale {
  display: block;
  width: 100%;
  height: auto;
  filter: grayscale(100%) sepia(0%) hue-rotate(170deg);
  position: relative;
  z-index: 1;
  transition: filter 0.3s ease;
}

.grayscale:hover {
  filter: grayscale(0%) sepia(100%) hue-rotate(170deg);
}

ul {
  margin-block-start: 0;
  margin-block-end: 0;
  padding-inline-start: 16px;
}

.aboutus-advisor-box {
  flex: 1 1 50%;
  max-width: 20%;
  box-sizing: border-box;
  display: flex;
  flex-direction: column;
  min-width: 150px;
}

.aboutus-advisor-box img {
}

.aboutus-advisor-prevroles-section {
  padding-top: 12px;
}

.aboutus-advisor-prevroles-section li span {
  position: relative;
  left: -5px;
}

.aboutus-advisor-prevrole {
  font-size: small;
}

.aboutus-advisor-prevroles-title {
  font-size: x-small;
  font-weight: bold;
}

.aboutus-tom-interview {
  display: flex;
  flex-direction: column;
  gap: 32px;
}

/*md (768px) */
@media (min-width: 768px) {
  .aboutus-tom-interview {
    flex-direction: row;
  }
}

.aboutus-tom-interview-tom-box {
  align-items: center;
  display: flex;
  flex-direction: column;
}

/*md (768px) */
@media (min-width: 768px) {
  .aboutus-tom-interview-tom-box {
    align-items: start;
  }
}

.aboutus-tom-interview-tom-box-image {
  border-radius: 16px;
  width: 300px;
  box-shadow: 0px 4px 16px rgba(0, 0, 0, 0.6);
}

/*md (768px) */
@media (min-width: 768px) {
  .aboutus-tom-interview-tom-box-image {
    width: 200px;
  }
}

/*lg (1024px) */
@media (min-width: 1024px) {
  .aboutus-tom-interview-tom-box-image {
    width: 300px;
  }
}

.aboutus-tom-interview-title {
  font-size: xx-large;
  font-weight: bold;
  line-height: 1;
  padding-bottom: 8px;
}

/*md (768px) */
@media (min-width: 768px) {
  .aboutus-tom-interview-title {
    line-height: 1.5;
    padding-bottom: 0px;
  }
}

.imagespage-image {
  width: 48%;
  cursor: pointer;
}

/*md (768px) */
@media (min-width: 768px) {
  .imagespage-image {
    width: 32%;
  }
}

/*lg (1024px) */
@media (min-width: 1024px) {
  .imagespage-image {
    width: 24%;
  }
}

.leadership-container {
  display: flex;
  flex-direction: column;
  gap: 32px;
  padding: 0px 16px;
  justify-content: center;
}

/*md (768px) */
@media (min-width: 768px) {
  .leadership-container {
    flex-direction: row;
    flex-wrap: wrap;
  }
}

/*lg (1024px) */
@media (min-width: 1024px) {
  .leadership-container {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    column-gap: 40px;
  }
}

.leadership-container-title {
  font-size: 20px;
  padding-bottom: 8px;
  font-weight: bold;
}

.leadership-card {
  width: auto;
}

/*md (768px) */
@media (min-width: 768px) {
  .leadership-card {
    width: 45%;
  }
}

/*lg (1024px) */
@media (min-width: 1024px) {
  .leadership-card {
    width: auto;
  }
}

.RRI-container {
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  gap: 40px;
}

/*md (768px) */
@media (min-width: 768px) {
  .RRI-container {
    flex-direction: row;
    justify-content: center;
    flex-wrap: wrap;
    gap: 0px;
    row-gap: 40px;
  }
}

.RRI-card {
  width: 90%;
  object-fit: cover;
  align-self: center;
}

/*md (768px) */
@media (min-width: 768px) {
  .RRI-card {
    width: 45%;
    align-self: start;
  }
}

/*lg (1024px) */
@media (min-width: 1024px) {
  .RRI-card {
    width: 30%;
  }
}

.RRI-card-3cats {
  padding-right: 0px;
}

/*md (768px) */
@media (min-width: 768px) {
  .RRI-card-3cats {
    padding-right: 24px;
  }
}

.RRI-card-3cats-def {
  padding: 12px;
}

/*md (768px) */
@media (min-width: 768px) {
  .RRI-card-3cats-def {
    padding: 20px;
  }
}
/*lg (1024px) */
@media (min-width: 1024px) {
  .RRI-card-3cats-def {
    padding: 12px;
  }
}
/*xl (1280px) */
@media (min-width: 1280px) {
  .RRI-card-3cats-def {
    padding: 20px;
  }
}
/*2xl (1536px) */
@media (min-width: 1536px) {
  .RRI-card-3cats-def {
    padding: 24px;
  }
}

.RRI-ul {
  padding-top: 16px;
}

.RRI-ul li {
  margin-bottom: 12px;
}

/*xl (1280px) */
@media (min-width: 1280px) {
  .RRI-ul {
    padding-top: 20px;
  }

  .RRI-ul li {
    margin-bottom: 20px;
  }
}

/*2xl (1536px) */
@media (min-width: 1536px) {
  .RRI-ul {
    padding-top: 32px;
  }
  .RRI-ul li {
    margin-bottom: 32px;
  }
}

.slideshow-container {
  position: relative;
  max-width: 100%;
  margin: auto;
}

.slides {
  display: none;
}

.active {
  display: block;
}

.dots-container {
  text-align: center;
}

.dot {
  height: 15px;
  width: 15px;
  margin: 0 5px;
  background-color: #bbb;
  border-radius: 50%;
  display: inline-block;
  cursor: pointer;
  transition: background-color 0.3s;
}

.dot.active {
  background-color: #717171;
}

.hidden {
  display: none;
}

/* Style the tab container */
.tab-container {
  display: flex;
  border-bottom: 2px solid #ccc;
}

/* Style each tab button */
.tab {
  flex: 1;
  padding: 10px 20px;
  text-align: center;
  cursor: pointer;
  background-color: #f1f1f1;
  /* background-color: var(--ultralight-red); */
  border: none;
  outline: none;
  transition: background-color 0.3s ease;
  font-size: medium;
}

/* Active tab style */
.tab.active {
  background-color: #fff;
  border-bottom: 2px solid #007bff;
  font-weight: bold;
}

/* Style for content sections */
.tab-content {
  display: none;
  padding: 20px;
  border: 1px solid #ccc;
  border-top: none;
  background-color: #fff;
}

.tab-content.active {
  display: block;
}

.lightbox {
  display: none;
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.8);
  justify-content: center;
  align-items: center;
  z-index: 2000;
}

.lightbox img {
  max-width: 90%;
  max-height: 90%;
}

.close-btn {
  position: absolute;
  top: 10px;
  right: 10px;
  color: white;
  font-size: 40px;
  cursor: pointer;
  line-height: 1;
  padding: 20px;
  margin: 0px;
}
