/**
 * COLOR PALETTE - FROM LOGO
 **/
/* LIGHT BLUE: #37c3ff */
/* BLUE: #0eb0f5 */

/**
 * COLOR PALETTE - SAMS EXTENDED PALETTE
 **/
/* DARK BLUE: #1782C0 */
/* DARK GREY: #5E6E6E */
/* DARK RED: #804E58 */

/* Define custom colors in the :root selector */
:root {
  --lightest-blue: #6ed2ff;
  --light-blue: #37c3ff;
  --blue: #0eb0f5;
  --dark-blue: #1782c0;
  --darkest-blue: #005a8d;
  --dark-grey: #5e6e6e;
  --dark-red: #804e58;
}

/* USAGE EXAMPLE */
/* background-color: var(--light-blue); */

body {
  margin: 0;
  font-family: "Open Sans", "Helvetica Neue", Arial, sans-serif;
  line-height: 1.5;
  background-color: var(--dark-blue);
}
svg {
  width: 64px;
  height: 64px;
  flex-shrink: 0;
}

.chaos-order-container {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-around;
  gap: 24px;
}
/*md (768px) */
@media (min-width: 768px) {
  .chaos-order-container {
    flex-wrap: nowrap;
  }
}
/*xl (1280px) */
@media (min-width: 1280px) {
  .chaos-order-container {
    gap: 64px;
  }
}

.chaos-order-text {
  font-size: small;
}
/*lg (1024px) */
@media (min-width: 1024px) {
  .chaos-order-text {
    font-size: medium;
  }
}

.title-pt1 {
  font-size: 18px;
  text-align: center;
  font-weight: bolder;
}
/*md (768px) */
@media (min-width: 768px) {
  .title-pt1 {
    font-size: 30px;
  }
}

.title-pt2 {
  font-size: 26px;
  text-align: center;
  font-weight: bolder;
  margin-bottom: 16px;
}
/*md (768px) */
@media (min-width: 768px) {
  .title-pt2 {
    font-size: 48px;
  }
}

.line-break {
  display: block;
}

/*xl (1280px) */
@media (min-width: 1280px) {
  .line-break {
    display: none;
  }
}

.problem-statement {
  min-width: 100px;
}
/*md (768px) */
@media (min-width: 768px) {
  .problem-statement {
    max-width: 220px;
  }
}

.section {
  padding: 24px 16px;
  border-bottom-width: 1.5px;
  border-bottom-color: var(--dark-grey);
  border-bottom-style: solid;
}
/*md (768px) through lg */
@media (min-width: 768px) {
  .section {
    padding: 40px 40px;
  }
}
/*xl (1280px) */
@media (min-width: 1280px) {
  .section {
    padding: 64px 64px;
  }
}

.navbar-logo {
  max-width: 100%;
}
/*md (768px) */
@media (min-width: 768px) {
  .navbar-logo {
    max-width: 400px;
  }
}

.container {
  /*default - tiny mobile view. mobile first design*/
  width: 100%;
  background-color: white;
  margin-left: auto;
  margin-right: auto;
}

/*sm (640px) */
@media (min-width: 640px) and (max-width: 767px) {
  .container {
    max-width: 640px;
  }
}

/*md (768px) */
@media (min-width: 768px) and (max-width: 1023px) {
  .container {
    max-width: 768px;
  }
}

/*lg (1024px) */
@media (min-width: 1024px) and (max-width: 1279px) {
  .container {
    max-width: 1024px;
  }
}

/*xl (1280px) */
@media (min-width: 1280px) and (max-width: 1535px) {
  .container {
    max-width: 1280px;
  }
}

/*2xl (1536px) */
@media (min-width: 1536px) {
  .container {
    max-width: 1536px;
  }
}

/* Define link colors */
a {
  /* text-decoration: none; Remove underline */
}

a:link {
  color: var(--dark-blue); /* Normal link color */
}

a:visited {
  color: var(--dark-blue); /* Visited link color */
}

a:hover {
  color: var(--light-blue); /* Hover link color */
  text-decoration: underline; /* Add underline on hover */
}

a:active {
  color: var(--blue); /* Active link color */
}

.email-button {
  border-style: none;
  cursor: pointer;
  padding: 0px;
}

.font-dark-blue {
  color: var(--dark-blue);
}

.font-blue-gradient {
  color: transparent; /* Make text transparent */
  background: linear-gradient(
    135deg,
    var(--lightest-blue),
    var(--darkest-blue)
  ); /* Define gradient colors */
  -webkit-background-clip: text; /* Apply gradient to text only */
  background-clip: text; /* Apply gradient to text only */
}

.font-dark-red {
  color: var(--dark-red);
}

.aboutus-paragraph {
  padding-bottom: 16px;
  padding-left: 16px;
}

.aboutus-paragraphtest3 {
  padding-left: 16px;
}

.aboutus-paragraphcardcontainertest3 {
  display: flex;
  flex-direction: column;
  gap: 16px;
  flex-wrap: wrap;
  justify-content: center;
}
@media (min-width: 1024px) {
  /* CSS that should be displayed if width is equal to or greater than 1024px goes here */
  .aboutus-paragraphcardcontainertest3 {
    flex-direction: row;
  }
}

.aboutus-paragraphcardtest3 {
  border-radius: 8px;
  padding: 16px;
  box-shadow: 0px 4px 16px rgba(0, 0, 0, 0.6);
}
@media (min-width: 1024px) and (max-width: 1279px) {
  .aboutus-paragraphcardtest3 {
    /* CSS that should be displayed if width is equal to or greater than 1024px goes here */
    width: 25%;
  }
}
/*xl (1280px) */
@media (min-width: 1280px) {
  .aboutus-paragraphcardtest3 {
    max-width: 16%;
  }
}

.aboutus-employee-box {
  display: flex;
  flex-direction: column;
  width: 200px;
}

.aboutus-employee-section {
  flex-direction: column;

  /*lg (1024px)	min-width: 1024px;*/
  @media (min-width: 1024px) {
    /* CSS that should be displayed if width is equal to or greater than 1024px goes here */
    flex-direction: row;
  }
}

.aboutus-employee-sectiontest3 {
  /*lg (1024px)	min-width: 1024px;*/
  @media (min-width: 1024px) {
    /* CSS that should be displayed if width is equal to or greater than 1024px goes here */
    max-width: 100%;
  }
}

.grayscale {
  display: block;
  width: 100%;
  height: auto;
  filter: grayscale(100%) sepia(0%) hue-rotate(170deg);
  position: relative;
  z-index: 1;
  transition: filter 0.3s ease;
}

.grayscale:hover {
  filter: grayscale(0%) sepia(100%) hue-rotate(170deg);
}

ul {
  margin-block-start: 0;
  margin-block-end: 0;
  padding-inline-start: 16px;
}

.aboutus-advisor-box {
  flex: 1 1 50%;
  max-width: 20%;
  box-sizing: border-box;
  display: flex;
  flex-direction: column;
  min-width: 150px;
}

.aboutus-advisor-box img {
}

.aboutus-advisor-prevroles-section {
  padding-top: 12px;
}

.aboutus-advisor-prevroles-section li span {
  position: relative;
  left: -5px;
}

.aboutus-advisor-prevrole {
  font-size: small;
}

.aboutus-advisor-prevroles-title {
  font-size: x-small;
  font-weight: bold;
}
